
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 41.455px;
  line-height: normal;
  color: #FFFFFF;
}

.card-title {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
  color: #FFFFFF;
}

.price-valut {
  border: none;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 11.354px;
  line-height: 128.023%;
  color: #FFFFFF;
  background: none;
  cursor: pointer;
}

.price-number {
  border: none;
  font-family: Inter;
  font-weight: 800;
  font-style: normal;
  font-size: 37.848px;
  line-height: 128.023%;
  color: #FFFFFF;
  background: none;
  cursor: pointer;
}

.price-time {
  border: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.7);
  background: none;
  cursor: pointer;
}

.card-text {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.list-title {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 15.139px;
  line-height: 128.023%;
  color: #FFFFFF;
}

.list-text {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 13.247px;
  line-height: 128.023%;
  color: #FFFFFF;
}

.list-name {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 128.023%;
  color: #FFFFFF;
}

.list-name-none {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 128.023%; /* 16.643px */
  color: rgba(255, 255, 255, 0.8);
}

.list-name2 {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 128.023%;
  color: #FFFFFF;
}

.button-1 {
  display: inline-flex;
  border: 0.864px solid #D0D0D0;
  border-radius: 7px;
  padding: 12px 64px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.1);
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 128.023%;
  color: #FFFFFF;
  background: #6A994E;
  transition: background 0.4s ease, color 0.4s ease;
  cursor: pointer;

  &:hover {
    color: #6A994E;
    background: #D0D0D0;
  }
}

.button-2 {
  display: flex;
  align-items: center;
  border: 0.864px solid #D66567;
  border-radius: 7px;
  padding: 12px 64px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.1);
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 128.023%;
  color: #FFFFFF;
  background: #BC4749;
  transition: background 0.4s ease;
  cursor: pointer;
  gap: 10px;

  &:hover {
    background: #da4245;
  }

  svg {
    display: inline-block;
    border-radius: 65.967px;
    padding: 4px 5px;
    background: rgba(255, 255, 255, 0.6);
  }
}

.button-3 {
  border: none;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 12.091px;
  line-height: 128.023%; /* 15.479px */
  color: rgba(255, 255, 255, 0.8);
  background: none;
  transition: color 0.4s ease;
  cursor: pointer;

  &:hover {
    color: #FFFFFF;
  }
}

.button-4 {
  border: 0.864px solid #D66567;
  border-radius: 7px;
  padding: 8.636px 33.818px;
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 128.023%;
  color: #FFFFFF;
  background: #BC4749;
  transition: background 0.4s ease;
  cursor: pointer;

  &:hover {
    background: #da4245;
  }
}

.hidden {
  visibility: hidden;
}

section {
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  box-shadow: 0 -9.631px 86.681px 0 rgba(0, 0, 0, 0.1), 0 23.115px 240.782px 0 rgba(0, 0, 0, 0.05);
  background: linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%);

  .container {
    padding: 0  15px;
    width: 1300px;

    nav {
      padding-bottom: 12px;
      width: 100%;

      .nav-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        max-width: 1209px;

        .nav-list {
          display: flex;
          align-items: center;
          gap: 87px;

          .links {
            display: flex;
            align-items: center;
            gap: 48px;

            .button-link {
              font-family: Inter;
              font-weight: 400;
              font-style: normal;
              font-size: 12.091px;
              line-height: 128.023%;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.8);
              transition: font-weight 0.2s ease, color 0.2s ease;

              &:hover {
                font-weight: 600;
                color: #FFFFFF;
              }
            }
          }

          .buttons {
            display: flex;
            flex-direction: row;
            gap: 14px;
          }
        }
      }

      .mob-menu {
        display: none;
      }
    }

    header {
      position: relative;
      display: flex;
      justify-content: center;

      img {
        &:nth-child(1) {
          position: absolute;
          top: 50%;
          width: auto;
          object-fit: cover;
        }

        &:nth-child(2) {
          position: absolute;
          top: 20%;
          left: 0;
          width: auto;
          object-fit: cover;
        }

        &:nth-child(3) {
          position: absolute;
          top: 20%;
          right: 0;
          width: auto;
          object-fit: cover;
        }
      }
    }

    .cards {
      display: flex;
      align-items: start;
      justify-content: center;
      margin: auto;
      width: 940px;

      .card {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 11.354px;
        padding: 40px 0;
        height: 520px;
        box-shadow: 0 3.785px 94.621px 0 rgba(0, 0, 0, 0.25);
        opacity: 0;
        transition: opacity 0.5s ease;

        &:nth-child(1) {
          z-index: 1;
          margin-top: 40px;
          margin-right: -20px;
          background: #6A994E;
        }

        &:nth-child(2) {
          z-index: 2;
          background: #1D252B;
        }

        &:nth-child(3) {
          z-index: 1;
          margin-top: 40px;
          margin-left: -20px;
          background: #6A994E;
        }

        .contents {
          display: flex;
          flex-direction: column;

          .contenUp {
            padding: 0 60px;

            .card-price {
              display: flex;
              align-items: end;
              gap: 5px;

              .price {
                display: flex;
                align-items: start;
              }

              .price-time {
                margin-bottom: 8px;
              }
            }

            .price-line {
              margin-top: 5px;
              margin-bottom: 15px;
              width: 100%;
              height: 1px;
              background: rgba(255, 255, 255, 0.1);
            }
          }

          .line {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.1);
          }

          .contentDown {
            display: flex;
            flex-direction: column;
            padding: 0 60px;

            ul {
              display: flex;
              flex-direction: column;
              margin-top: 20px;
              padding: 0;
              text-decoration: none;
              gap: 15px;

              li {
                display: flex;
                align-items: center;
                list-style: none;
                gap: 8px;
              }
            }
          }
        }
      }
    }
  }
}

// --------------------------------------mdeia

@media (max-width: 1200px) {
  section {
    .container {
      nav {
        .nav-content {
          max-width: 1024px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    .container {
      padding: 0 15px;

      nav {
        .nav-content {
          display: none;
        }

        .mob-menu {
          display: flex;
          flex-direction: column;

          .mob-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background: #6A994E;

            button {
              border: none;
              background: none;
              cursor: pointer;

              i {
                color: #FFFFFF;
              }
            }
          }

          .mob-links {
            display: none;
            flex-direction: column;

            .mob-link {
              padding: 10px;
              font-family: Inter;
              font-weight: 400;
              font-style: normal;
              font-size: 12.091px;
              line-height: 128.023%;
              text-decoration: none;
              color: rgba(255, 255, 255, 0.8);
              transition: background 0.4s ease;

              &:hover {
                background: #6A994E;
              }
            }
          }
        }
      }

      .cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;

        .card {
          width: 100%;
          height: auto;
          gap: 40px;

          &:nth-child(1) {
            margin-top: 0;
            margin-right: 0;
          }

          &:nth-child(3) {
            margin-top: 0;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  section {
    .container {
      header {
        img {
          display: none;
        }

        h1 {
          font-size: 32px;
        }
      }

      .cards {
        .card {
          .contents {
            .contenUp {
              padding: 0  40px;
            }

            .contentDown {
              padding: 0 40px;
            }
          }
        }
      }
    }
  }
}